<div class="container wrapper">
  <h2 class="title">Products</h2>
  <ul class="row item-list">
    <li
      *ngFor="let product of products | async"
      class="col-sm-12 col-md-6 col-lg-4 item"
    >
      <a routerLink="/products/{{ product.id }}" class="item-link">
        <img [src]="product.imgUrl" width="150px" />
        <h5 class="name">{{ product.name | truncate: 20:"..." }}</h5>
        <h5 class="price">{{ product.price | currency: "EUR" }}</h5>
      </a>
      <button (click)="addToBasket(product)" class="btn btn-pink">
        Add to basket
      </button>
    </li>
  </ul>
</div>
